{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Фото по ширине страницы -->
    <div class="header-image">
      <img src="{% static 'img/banner_1.jpg' %}" class="header-image" alt="Фото">
      <div class="header-content">
        <h1 class="header-title">Недвижимость для всех!</h1>
{#        <a href="#" class="header-button">Подобрать</a>#}
      </div>
    </div>
  </header>
  <br>
  <br>
  <!-- карточки товара -->
  <div class="container">
    <div class="row">

      {% for home in homes %}
      <div class="col-md-4">
        <div class="card">

          {% if home.img %}
          <a href="{{ home.get_absolute_url }}"><img src="{{ home.img.url }}" class="card-img-top" alt="Товар 1"></a>
          {% else %}
          <a href="{{ home.get_absolute_url }}"><img src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" class="card-img-top" alt="Товар 1"></a>
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ home.title }}</h5>
            <p class="card-text">{{ home.info|truncatewords:10 }}</p>




          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
{% endblock %}
