{% extends 'base.html' %}
{% block content %}


  <br>
  <br>
    <div class="container">
        <form action="" method="get">

        <select name="category" class="form-control" onchange="this.form.submit()">
            <option value="">Тип недвижимости</option>
                {% for i in categories %}
                   <option value="{{ i.pk }}" {% if request.GET.category|stringformat:"s" == i.pk|stringformat:"s" %}selected{% endif %}>{{ i }}</option>
                {% endfor %}
        </select>


            <input name="q" placeholder="text search" value="{{ request.GET.q }}">
            <input name="max" placeholder="max price" value="{{ request.GET.max }}">
            <input name="min" placeholder="min price" value="{{ request.GET.min }}">
            <button type="submit"> Search </button>
        </form>



    </div>
  <br>
  <br>
  <!-- карточки товара -->
  <div class="container">
    <div class="row">

      {% for home in homes %}
      <div class="col-md-4">
        <div class="card">

          {% if home.img %}
          <a href="{{ home.get_absolute_url }}"><img src="{{ home.img.url }}" class="card-img-top" alt="Товар 1"></a>
          {% else %}
          <a href="{{ home.get_absolute_url }}"><img src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" class="card-img-top" alt="Товар 1"></a>
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ home.title }}</h5>
            <h5 class="card-title">{{ home.cost }}</h5>
            <p class="card-text">{{ home.info|truncatewords:10 }}</p>

          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
{% endblock %}




