{% extends 'base.html' %}
{% block content %}



  <br>
  <br>
    <div class="container">


        <form action="" method="get">
            <input name="q" placeholder="text search">
            <input name="max" placeholder="max price">
            <input name="min" placeholder="min price">
            <button type="submit"> Search </button>
        </form>


    </div>
  <br>
  <br>
  <!-- карточки товара -->
  <div class="container">
    <div class="row">

      {% for home in homes %}
      <div class="col-md-4">
        <div class="card">

          {% if home.img %}
          <a href="{% url 'detail_page' home.pk %}"><img src="{{ home.img.url }}" class="card-img-top" alt="Товар 1"></a>
          {% else %}
          <a href="{% url 'detail_page' home.pk %}"><img src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" class="card-img-top" alt="Товар 1"></a>
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ home.title }}</h5>
            <h5 class="card-title">{{ home.cost }}</h5>
            <p class="card-text">{{ home.info|truncatewords:10 }}</p>



          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
{% endblock %}




